.article-overview {
    padding: 10px;
    display: flex;
    font-size: 14px;
    color: #f2f2f2;
    margin-top: 10px;
    line-height: 10px;
    flex-direction: row;
    font-weight: bolder;
    justify-content: space-between;
}