  .session-form {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: neuzeit-grotesk, sans-serif;

    .userImg {
      width: 38px;
      height: 38px;
      border-radius: 50%;
    }

    .inputField {
      width: 100%;
      border: none;
      margin-left: 10px;
      color: #f2f2f2;
      background-color: transparent;
    }

    .inputField:focus {
      outline: none;
    }

    .submitBtn {
      visibility: hidden;
    }

    animation: fadeInAnimation ease .5s;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }