  .session-form {
    display: flex;
    padding-left: 10px;
    padding-bottom: 2px;
    font-family: neuzeit-grotesk, sans-serif;

    .userImg {
      width: 38px;
      height: 38px;
      border-radius: 50%;
    }

    .inputField {
      width: 100%;
      padding: 4px;
      border: none;
      line-height: 1.5;
      margin-left: 6px;
      color: #f2f2f2;
      font-weight: normal;
      text-decoration: none;
      background-color: #1a1a2b;
    }

    .inputField::placeholder {
      color: #f2f2f2;
      line-height: 1.5;
      margin-top: -2px;
      margin-left: 15px;
      font-weight: bolder;
    }

    .inputField:focus {
      outline: none;
    }

    .submitBtn {
      visibility: hidden;
    }
  }