.comment-session-overlay {
  margin-top: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

  .overlay {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #1a1a2b;
    font-family: neuzeit-grotesk, sans-serif;
  }

  .session-header {
    display: flex;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-family: neuzeit-grotesk, sans-serif;
  }

  .reply-section {
    margin-left: 25px;
    padding: 0px 0px 0px 15px;
  }

}