.cs-overlay {
  display: flex;
  background: #1a1a2b;
  flex-direction: column;
  font-family: neuzeit-grotesk, sans-serif;

  .reply-section {
    margin-left: 25px;
    padding: 0px 0px 0px 15px;
  }

}