.cs-overlay {
  display: flex;
  flex-direction: column;
  background: #1a1a2b;
  font-family: neuzeit-grotesk, sans-serif;

  .session-header {
    display: flex;
    margin-top: 4px;
    flex-direction: row;
    justify-content: space-between;
  }

  .reply-section {
    margin-left: 25px;
    padding: 0px 0px 0px 15px;
  }

}