.cs-wrapper {
  display: flex;
  color: #f2f2f2;
  user-select: none;
  background: #1a1a2b;
  flex-direction: column;
  font-family: neuzeit-grotesk, sans-serif;

  .cs-overlay {
    display: flex;
    flex-direction: column;

    .main-thread {
      animation: fadeInAnimation ease 1s;
      animation-fill-mode: forwards;

      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    .reply-section {
      margin-left: 25px;
      padding: 0px 0px 0px 15px;
    }

  }

  .report-menu {
    height: 0;
    margin: auto;

    .hidden {
      visibility: hidden !important;
    }
  }
}