.cs-wrapper {
  display: flex;
  color: #f2f2f2;
  user-select: none;
  background: #1a1a2b;
  flex-direction: column;
  font-family: neuzeit-grotesk, sans-serif;

  .modal-menu {
    height: 0;
    margin: auto;

    .hidden {
      visibility: hidden !important;
    }
  }
}