.report-comment {
    cursor: auto;
    color: #f2f2f2;
    font-family: neuzeit-grotesk, sans-serif;


    hr {
        border: 1px solid rgba(255, 255, 255, 0.12)
    }

    .report-box {
        width: 100%;

        .box-header {
            display: flex;
            color: #f2f2f2;
            justify-content: space-between;

            .title {
                padding: 4px;
                color: #1cf39c;
                margin-bottom: 10px;
                font-weight: bolder;
            }

            .close {
                padding: 4px;
                cursor: pointer;
                color: #1a1a2b;
                border-radius: 50%;
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: #1cf39c;
            }
        }

        .info {
            margin: 10px;
            padding: 2px;
            line-height: 0;
            color: #f2f2f2;
            font-family: neuzeit-grotesk, sans-serif;

            p {
                font-weight: normal;
                margin-top: 25px;
            }
        }
    }

    .szh-menu {
        background-color: #1a1a2b;
        border: 2px solid #1cf39c;

        .szh-menu__item {
            margin: 12px;
            cursor: pointer;
            color: #f2f2f2;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            height: 25px;
            font-size: 17px;
            text-align: left;
        }

        .szh-menu__item::after {
            content: "❯";
            position: absolute;
            right: 1rem;
            color: #1cf39c;
        }

        .szh-menu__item:hover {
            background-color: #ffffff21 !important;
        }

        .szh-menu__item--hover {
            background-color: #ffffff21 !important;
        }
    }

    .modal-close {

        .szh-menu {
            background-color: #1a1a2b !important;
            border: 2px solid #1a1a2b !important;
            box-shadow: none !important;
        }

    }

    .report-confirm {
        .info {


            p {
                line-height: 0;
                font-weight: normal;

                a {
                    color: #1cf39c;
                    margin-top: 2px;
                }
            }

        }

        .szh-menu__item {
            margin: auto;
            width: 50%;
            color: #1cf39c;
            border-radius: 25px;
            margin-bottom: 10px;
            cursor: pointer !important;
            border: 1px solid #1cf39c;
        }

        .szh-menu__item::after {
            position: absolute;
            color: #1cf39c;
            content: "SUBMIT";
            right: 45%;
        }
    }

    .report-feedback {
        .szh-menu__item::after {
            content: "DONE";
        }
    }

}

.likeBtn {
    background-color: transparent;
    border: none;
    color: #1cf399;
    font-size: 14px;
    line-height: 10px;
    font-weight: bolder;

    &:hover {
        outline: none;
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }

    .szh-menu {
        border-radius: 5px;
        background-color: #474756;
        font-size: 0.925rem;
        box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
        min-width: 7rem;
        min-height: 2.925rem;

        .szh-menu__arrow {
            box-sizing: border-box;
            width: 0.75rem;
            height: 0.75rem;
            background-color: #474756;
            right: 96px;
            position: absolute;
            z-index: -1;
        }

        .szh-menu__item {
            padding: 5px;
        }

        .szh-menu__item:hover {
            background-color: transparent !important;
        }

        .szh-menu__item--hover {
            background-color: transparent !important;
        }
    }
}

.icn-dft {
    &:hover {
        outline: none;
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

.thumpsup-blue {
    width: 15px;
    height: 16px;
    background-image: url("../../assets/blue-thumbs-up.svg");
}

.light-bulb {
    width: 11px;
    height: 15px;
    background-image: url("../../assets/light-bulb.svg");
}

.thought-full {
    width: 15px;
    height: 16px;
    background-image: url("../../assets/thoughtful.svg");
}

.emoji-selected {
    transform: scale(2);
    margin-top: 0.25rem;
    margin-left: 0.925rem;
    margin-right: 0.925rem;
}

.emoji-un-selected {
    margin-top: 0.25rem;
    margin-left: 0.925rem;
    margin-right: 0.925rem;
    transform: scale(1.5);

    &:hover {
        transform: scale(2.5);
    }
}

.reply-btn {
    color: #1cf399;
    font-size: 14px;
    font-weight: bolder;
}


.time-stamp {
    cursor: auto;
    opacity: 0.999;
    margin-left: 8px;
    color: #f2f2f2;
}