.comment-session-structure {
  .comment-box {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.12);

    .username {
      font-size: 17px;
      color: #1cf39c;
      text-align: left;
      font-weight: 700;
      margin-top: 10px;
      line-height: 17px;
      margin-left: 50px;
      letter-spacing: 0px;
      text-transform: capitalize;
    }

    .userInfo {
      display: flex;
      margin-top: 10px;
      margin-left: 10px;
      flex-direction: row;

      .image {
        float: left;

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }

      .comment {
        font-size: 17px;
        text-align: left;
        margin-left: 12px;
        margin-bottom: 12px;
        font-weight: bolder;
        overflow-wrap: break-word !important;
      }
    }

    .actionBar {
      display: flex;
      margin-left: 45px;
      margin-bottom: 10px;
      justify-content: space-between;

      .actions {
        display: flex;
        justify-content: flex-start !important;
      }

      .flagBtn {
        width: 16px;
        height: 16px;
        transform: scale(0.9);
        float: right !important;
        background-image: url("../../assets/report-flag.svg");
        filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(84%) contrast(73%);

        &:hover {
          outline: none;
          cursor: pointer;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .replyBtn {
    border: none;
    color: #1cf399;
    outline: none;
    font-size: 14px;
    line-height: 10px;
    font-weight: bolder;
    background-color: transparent;

    &:hover {
      outline: none;
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }

  .reactionGroup {
    border: none;
    outline: none;
    display: flex;
    line-height: 10px;
    background-color: transparent;
    transform: scale(0.8);

    &:hover {
      outline: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .reaction-count-text {
    padding: 2px;
    margin-left: 8px;
    line-height: 10px;
    font-weight: bolder;
  }

  .reply-btn-text {
    margin-left: 10px;
  }

  .time-from-now {
    cursor: auto;
    opacity: 0.999;
    margin-left: 8px;
    color: #f2f2f2;
    line-height: 10px;
    background-color: transparent;

  }

  .vertical-line {
    border-left: 1px solid rgba(255, 255, 255, 0.12);
  }


  .userLink {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;

    .imgdefault {
      width: 28px;
      height: 28px;
      border-radius: 34px;
    }
  }

  .replysection {
    display: flex;
    flex-direction: column;

    .replyInput {
      margin-top: 10px;
      margin-left: 40px;
    }
  }
}