.session-header {
    .prev-comments {
        border: none;
        color: #f2f2f2;
        outline: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 10px;
        background-color: transparent;

        &:hover {
            outline: none;
            cursor: pointer;
        }

        &:focus {
            outline: 0;
        }
    }
}