.session-header {
    padding: 10px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #f2f2f2;
    line-height: 10px;
    flex-direction: row;
    justify-content: space-between;

    .prev-comments {
        border: none;
        outline: none;
        background-color: transparent;

        &:hover {
            outline: none;
            cursor: pointer;
        }

        &:focus {
            outline: 0;
        }
    }

    .all-comments {
        border: none;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #f2f2f2;
        line-height: 10px;
        flex-direction: row;
        background: #1a1a2b;
        font-family: neuzeit-grotesk, sans-serif;

        .chev-down {
            width: 16px;
            height: 16px;
            margin-top: -2px;
            margin-left: 7px;
            transform: scale(0.9);
            background-image: url("../../assets/chevron-down.svg");
        }

        &:hover {
            outline: none;
            cursor: pointer;
        }

        &:focus {
            outline: 0;
        }

        .chev-rotate {
            transform: rotate(180deg);
        }
    }

    .sort-box {
        width: 100%;
        color: #f2f2f2;
        font-family: neuzeit-grotesk, sans-serif;

        .sort-title {
            font-size: small;
            margin-left: 10px;
            margin-right: 10px;
        }

        .sort-desc {
            margin-left: 10px;
            margin-right: 10px;
            font-size: smaller;
        }
    }

    .box-border {
        border-bottom: 2px solid #1cf39c;
    }

    .sort-box:hover {
        background-color: #1a1a2b;
    }

    .szh-menu {
        background-color: #474756;

        .szh-menu__item:hover {
            background-color: transparent;
        }
    }
}