#DB config
DB_name=
DB_username=
DB_password=
DB_hostname=

//Environment
NODE_ENV =  

// app
PORT=8080
ENDPOINT_API = "/api/v1"

// Passport config - 256-bit key
REFRESH_TOKEN_KEY = 
AUTHENTICATION_KEY = 

// cms strapi endpoint
CMS_ARTICLE_API='https://cms.test.monitalks.io/news-articles/'